body{

    .header{
        padding: 10px 20px;

        .menu-icon{
            display: none;
        }

        .site-nav {
            width: 100%;
            height: auto;
            position: unset;

            .close-menu-icon{
                display: none;
            }

            h2{
                display: none;
            }

            .nav-menu{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                padding: 0;

                .nav-item{
                    font-size: 25px;
                    margin-left: 20px;
                    margin-bottom: 0;
                }
            }
        }
    }

    main{

        .hero-image{
            height: 360px;
            background-position: center center;
            align-items: flex-end;
        }

        .row{
            flex-direction: row;


            h2{
                text-align: left;
            }
        }

        .budget-info{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 5px;
            width: 100%;
            height: max-content;
            background-position: center center;
            // align-items: flex-start;
            padding-bottom: 30px;

            .card{
                margin: 0;
                max-height: 100px;
                padding: 5px;

                .icon-container{
                    width: 30%;

                    img{
                        width: 30px;
                        height: 30px;
                    }
                }

                .info{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .infoTitle{
                        font-size: 15px;
                    }

                    .amnt{
                        font-size: 25px;
                    }
                }
            }
        }
    }
}