@keyframes login-slide {
    from{ 
        top: 100%;
        transform: translate(-50%, 0);
    }
    to{
        top: 50%;
        transform: translate(-50%, 0);
    }
}

@keyframes menu-slide {
    from{
        transform: translate(100%);
    }

    to{
        transform: translate(0);
    }
}