body {
    min-height: 100vh;
    // background-image: linear-gradient(to bottom, #000, 82%, #79a471);
    // background-color: #e7ebd4;
    background-color: #000;

    h1,h2,h3,h4,h5, h6{
        font-family: "Bebas Neue", sans-serif;
        color: #183e44;
    }

    text{
        fill: #000;
    }

    button{
        width: 100%;
        border-radius: 5px;
        border: none;
        margin-bottom: 10px;
        padding: 7px;
        font-size: 16px;
        background-color: #183e44;
        color: #fff;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 20px;
        letter-spacing: 2px;
        transition: all .6s ease;

        &:hover{
            cursor: pointer;
            background-color: #fff;
            color: #183e44;

        }
    }

    input {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        border: none;
        margin-bottom: 10px;
        font-size: 20px;
        padding-inline: 5px;
        background-color: #fff;
        color: #000;

        &:focus-visible {
            outline: black solid 1px;
        }
    }

    label {
        margin-bottom: 2px;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 27px;
        color: #183e44;
    }

    .loading{
        width: 100%;
        padding: 0 10px;
        z-index: 1;

        p{
            font-family: "Bebas Neue", sans-serif;
            color: #fff;
            font-size: 22px;
            text-align: center;
        }
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: auto;
        padding : 10px;
        background-color: #183e44;

        h1{
            font-size: 50px;
            color: #fff;
            // letter-spacing: 2px;
        }

        .menu-icon, .close-menu-icon{
            width: 30px;
            height: 30px;
        }

        .close-menu-icon{
            position: absolute;
            top: 25px;
            right: 30px;
            width: 45px;
            height: 45px;
        }

        .site-nav{
            display: block;
            position: fixed;
            top: 0;
            right: -100%;
            width: 100vw;
            height: 100vh;
            background-color: #183e44;
            z-index: 3;
            transition: right .5s ease;

            &.open{
                right: 0;
            }

            h2{
                font-family: "Bebas Neue", sans-serif;
                letter-spacing: 1px;
                font-size: 50px;
                color: #fff;
                padding: 20px;
            }

            .nav-menu{
                list-style-type: none;
                padding: 30px;
                width: 100%;
                max-width: max-content;
                margin-left: auto;

                .nav-item{
                    font-family: "Bebas Neue", sans-serif;
                    font-size: 40px;
                    margin-bottom: 30px;
                    text-align: right;
                    color: #fff;
                }
            }
        }
    }

    main {

        h2{
            font-size: 33px;
            margin-bottom: 15px;
        }

        p.amount{
            color: #a6cc70;
            font-family: "Bebas Neue", sans-serif;
            font-weight: bold;
            font-size: 20px;
        }

        .login-form-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100vw;
            height: 100Vh;
            padding: 20px;
            background-color: #e7ebd4;

            p{
                text-decoration: underline;
                color: #183e44;

                &:hover{
                    cursor: pointer;
                }
            }

            .form-notification{
                width: 100%;
                background-color: green;
                padding: 10px;
                margin: 0 0 10px 0;
                text-align: center;
                border-radius: 5px;

                p{
                    color: #fff;
                    text-decoration: none;
                }
            }

            .formErr{
                width: 100%;
                background-color: red;
                padding: 10px;
                margin: 0 0 10px 0;
                text-align: center;
                border-radius: 5px;

                p{
                    color: #fff;
                    text-decoration: none;
                }
            }

            .loginForm {
                width: 100%;
                max-width: 500px;
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
    
                h2 {
                    margin-bottom: 10px;
                    text-align: center;
                    font-size: 60px;
                    letter-spacing: 2px;
                    color: #183e44;
                }

                button{
                    width: 100%;
                    border-radius: 5px;
                    border: none;
                    margin-bottom: 10px;
                    padding: 7px;
                    font-size: 16px;
                    background-color: #183e44;
                    color: #fff;
                    font-family: 'Bebas Neue', sans-serif;
                    font-size: 20px;
                    letter-spacing: 2px;
                }
            }
        }

        .card{
            width: 100%;
            background-color: #183e44;
            // background-color: black;
            border-radius: 10px;
            // border: 1px solid #e7ebd4;
            box-shadow: 1px 1px 10px #333;
            padding: 15px 0;
            margin-bottom: 10px;

            p{
                color: #fff;
            }

            &.form-container{
                background-color: #e7ebd4;

                .form{
                    display: flex;
                flex-direction: column;
                margin-bottom: 10px;
    
                h2 {
                    // margin-bottom: 10px;
                    // text-align: center;
                    // font-size: 60px;
                    // letter-spacing: 2px;
                    color: #183e44;
                    border-bottom: 2px solid #183e44;
                }

                button{
                    width: 100%;
                    border-radius: 5px;
                    border: none;
                    margin-bottom: 10px;
                    padding: 7px;
                    font-size: 16px;
                    background-color: #183e44;
                    color: #fff;
                    font-family: 'Bebas Neue', sans-serif;
                    font-size: 20px;
                    letter-spacing: 2px;
                }
                    
                }
            }


        }

        .row{
            display: flex;
            flex-direction: column;
            padding: 10px;

            &:last-child{
                margin-bottom: 0;
            }

            &.hero-image{
                margin-top: 0;
            }

            .card{
                padding: 10px;
                margin-right: 10px;
                min-height: 100%;
            }

            h2{
                color: #fff;
                text-align: center;
                border-bottom: 2px solid #a6cc70;
            }


            ul{
                list-style-type: none;

                li{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    padding: 10px 20px;
                    // background-color: #e7ebd4;
                    // // border: 1px solid #a6cc70;
                    // border-radius: 30px;
                    border-bottom: 1px solid #e7ebd4;
                    margin-bottom: 10px;

                    &:last-child{
                        margin: 0;
                        border: none;
                    }

                    .title{
                        font-size: 20px;
                        font-family: 'Architects Daughter', cursive;
                        font-weight: bold;
                    }
                }

                &.list-items{

                    

                    li{
                        position: relative;
                        transition: transform .5s ease-out;

                        .delete-container{
                            display: flex;
                            flex-direction: row;
                            position: absolute;
                            background-color: transparent;
                            width: 10px;
                            height: 10px;
                            justify-content: flex-start;
                            top:0;
                            right: 0;
                            border-radius: 10px 10px 0 0;
                            opacity: 1;
                            transition: opacity 1.5s ease;

                            .delete{
                                width: 100%;
                            }
                        }

                        .amount{
                            transition: transform .5s ease;
                        }

                        &:hover, &:focus, &:active{
                            // padding: 10px;
                            // background-color: #e7ebd4;
                            // border-radius: 5px;

                            .title{
                                // color: #183e44;
                            }

                            // .amount{
                            //     transform: translate(-60px);
                            // }

                            .delete, .edit{
                                    
                                &:hover{
                                    cursor: pointer;
                                }
                            }

                        }
                        
                    }
                }
            }
        }

        .total-row{
            padding-bottom: 0;
            z-index: 1;
            p{
                font-size: 30px;
                font-family: "Bebas Neue", sans-serif;
                color: #fff;
                text-align: center;

                span{
                    font-size: 65px;
                    color: #a6cc70;
                }
            }
        }

        .budget-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            margin: 0;
            height: 100%;
            width: 100%;


            .card{
                display: flex;
                height: 80px;
                z-index: 1;
                min-height: unset;

                .icon-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20%;
                    border-right: 1px solid #a6cc70;

                    img{
                        width: 40px;
                        height: 40px;
                    }
                }

                .info{
                    flex-grow: 1;

                    .infoTitle{
                        font-family: "Bebas Neue", sans-serif;
                        font-weight: bold;
                        font-size: 22px;
                        letter-spacing: 1px;
                        text-align: center;
                    }
        
                    .amnt{
                        color: #a6cc70;
                        font-family: 'Bebas Neue', sans-serif;
                        font-weight: bold;
                        font-size: 30px;
                        text-align: center;
                    }
                }
            }
        }

        
    }

    .update-form-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        color: #fff;
        font-size: 50px;
        background-color: #a6cc70;;
        margin: 0;
        border-radius: 50%;
        position: fixed;
        bottom: 70px;
        right: 10px;
        transition: all 1s ease;
        opacity: .8;
        box-shadow: 1px 1px 10px #000;
        z-index: 1;

        &:hover{
            cursor: pointer;
        }

        &.open{
            bottom: 320px;
            transform: rotate(1125deg);
            opacity: 1;
        }
    }
    
    .update-form{
        width: 100%;
        min-height: 300px;
        padding: 20px;
        position: fixed;
        right: 0;
        bottom: -100%;
        // transform: translate(-50%, -50%);
        background-color: #e7ebd4;
        // border-radius: 10px 0 0 10px;
        box-shadow: 0px -5px 5px #000;
        transition: bottom 1s ease;

        h2 {
            margin-bottom: 10px;
            // text-align: center;
            font-size: 40px;
            // letter-spacing: 2px;
            color: #183e44;
            border-bottom: 2px solid #183e44;
        }

        &.open{
            bottom: 0;
        }

        .form{
            display: flex;
        flex-direction: column;
        margin-bottom: 10px;
            
        }
    }

    
}
