body{

    main{
        .hero-image{
            height: 500px;
        }
        .budget-info{
            height: 500px;


            .card{
                .info{

                    .infoTitle{
                        font-size: 20px;
                    }
    
                    .amnt{
                        font-size: 30px;
                    }
                }

            }
        }
    }
}